{% load static %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="text-center mb-3">
            <img src="{% static 'media/gallery.png' %}" style="width: 80px;" alt="logo">
            <h4 class="mt-2 mb-3 pb-1">Regístrate</h4>
          </div>
          <form method="post">
            {% csrf_token %}
            <p class="mb-2">Crea una cuenta para acceder a todas las funciones</p>
            <div class="form-outline mb-2">
              <input type="text" name="correo" class="form-control" placeholder="Correo electrónico" required>
              <label class="form-label" for="correo">Correo electrónico</label>
            </div>
            <div class="form-outline mb-2">
              <input type="password" name="contraseña" class="form-control" placeholder="Contraseña" required>
              <label class="form-label" for="contraseña">Contraseña</label>
            </div>
            <div class="text-center pt-1 mb-2 pb-1">
              <button class="btn btn-success btn-block fa-lg gradient-custom-2 mb-2" type="submit">Regístrate</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
